<nav  [style.background-color]="'darkslategray'"class="navbar navbar-expand-sm  navbar-dark sticky-top" >
  <a class="navbar-brand" href="#">
      <img src="../assets/images/abc.png" width="50px"height=50px; style="margin-left:100px ;margin-right:40px">
    <strong class="large-fontsize">
        <span  [style.color]="'yellowgreen'">K</span>
        <span  [style.color]="'lightskyblue'">I</span>
        <span  [style.color]="'tomato'">D</span>
        <span  [style.color]="'mediumpurple'">S</span>
      </strong>
      <span [style.color]="'lightskyblue'"> school</span>

  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
 <div class="collapse navbar-collapse  mobile-menu mt-5 mt-lg-0 p-5 p-lg-0"  id="collapsibleNavbar">
   <ul class="navbar-nav align-self-stretch">
     <li class="nav-item ">
        <a [style.color]="'yellowgreen'" [routerLink]="['/home']" routerLinkActive="active">
         <i class="fa fa-home fa-2x"  style="margin-left:20%"></i>
          <div> Home</div>
         </a>
     </li>
     <li class="nav-item ">
       <a [style.color]="'lightskyblue'" href="#">
         <i class="fa fa-pencil fa-2x" style="margin-left:20%"></i>
          <div>Progrm </div>
       </a>
    </li>
    <li class="nav-item">
      <a [style.color]="'goldenrod'"   [routerLink]="['/page']">
          <i class="fa fa-pagelines fa-2x" style="margin-left:20%"></i>
           <div>pages </div>
      </a>
    </li>
    <li class="nav-item">
     <a  href="#"  [style.color]="'tomato'">
       <i class="fa fa-calendar fa-2x " style="margin-left:20%" ></i>
        <div>events & news</div>
     </a>
    </li>
    <li class="nav-item">
      <a [style.color]="'mediumpurple'" href="#">
        <i class="fa fa-id-card fa-2x " style="margin-left:20%" ></i>
       <div>contact us </div>
      </a>
    </li>
   </ul>
 </div>
</nav>