<div class="expert-teacher">
  <div class="container" style="padding-top:100px;">

  <div class="row">
      <div class="design text-center">
      <img src="../assets/images/teacher1.jpg  " class="redesign border-4 rounded-circle" >

      </div>
      <div class="design text-center">
        <img src="../assets/images/teacher2.jpg  " class="redesign border-4 rounded-circle" >
      </div>
      <div class="title">
        <h1 class="text-bold"> our teacher</h1>
        <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis</p>
        <button class="border-4 bg-darkslategray style-btn"> More About</button>
      </div>
    </div>

    <div class="row">
        <div class="design text-center">
          <img src="../assets/images/teacher3.png " class="redesign border-4 rounded-circle" >
        </div>
        <div class="design text-center">
          <img src="../assets/images/teacher4.jpeg  " class="redesign border-4 rounded-circle" >
        </div>
    </div>
  </div>

 </div>