<div class="row ">
  <div class="col-sm-6 left">
    <div >
      <a href="javascript:;">
        <img  src="..//../assets/images/abc.png" width="100px" height="100px">
      </a>
    </div>
   
      <div class="text-center">
      <h3 [style.color]="'wheat'">   Welcome to  <span class="bg-yellowgreen">K</span>
      <span  [style.color]="'lightskyblue'">I</span>
      <span  [style.color]="'tomato'">D</span>
      <span [style.color]="'mediumpurple'">S</span></h3>
           
            <br>
            <p>
                sLorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis sLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis
               
            </p>
      
      </div>
   <div class="fixed-bottom col-sm-6">
          <a href="javascript:;" class="float-right "  [style.color]="'wheat'">Privacy</a>
          <a href="javascript:;" class="float-right "  [style.color]="'wheat'" >Legal</a>
          <a href="javascript:;"  class="float-right "  [style.color]="'wheat'">Contact</a>
   </div>
  
  </div>
  <div class="col-sm-6">
    <router-outlet></router-outlet>
  </div>
</div>
