
<app-home *ngIf="t"></app-home>



<!-- <div class="signup"></div>
    <div class="form-style">
        <form >
            <h3 class="display-4">Sign UP</h3>
          <div class="from-group">
            <label for="email">
                <i class="fa fa-at"></i>
            </label>
            
            <input type="email" placeholder=" Your email">
          </div>
        
          <div class="from-group">
              <label for="phone">
                  <i class="fa fa-mobile"></i>
              </label>
              <input type="number" placeholder="Your phone" >
            </div>
            <div class="from-group">         
              <label for="password">
              <i class="fa fa-lock"></i>
            </label>   
                <input type="password" placeholder=" Your Password">
              </div>
              <div class="form-group">
                  <input type="checkbox" name="remember-me" id="remember-me" >
                  <label for="remember-me">Remember me</label>
              </div>
         <button type="button" class="btn-lg btn-login"> Login</button>
        </form>
    </div>
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
  <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
</video> -->
 
<!-- <div class="elementor-widget">
 

</div> -->

  <!-- start scroll to top button  -->
<!-- <div id="scroll-top">
  
</div> -->
<router-outlet></router-outlet>
