<div class="features-area">
  <div class="features row  d-flex flex-row">
  <div class="bg-magenta single-features col-xs-12 ">
      <div class="text-center">
        <img src="../assets/images/protection.png" class="rounded-circle border-4" width="100px" height="100px">
      <h4> Happiness & Safety</h4>
      <p>sLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis</p>
          </div>
        </div>
  
        <div class="single-features bg-greenyellow  col-xs-12" >
            <div class="text-center">
                <img src="../assets/images/creativity.png"  class=" border-4" width="100px" height="100px">
  
                <h4> Learning&Educations</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis</p>
                    </div>
          </div>
          <div class="single-features bg-orange  col-xs-12">
              <div class="text-center">
                  <img src="../assets/images/family.png"  class="rounded-circle border-4" width="100px" height="100px" >
                  <h4> Area Family</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis</p>
             </div>
            </div>
  
  </div>
  </div>